:root {
    --text-color: #7c7f81;
    --background-color: #f1f3f4;
    --search-bar-bg-color: #dfe3e5;
}

@font-face { 
    font-family: opensans; 
    src: url('../OpenSans-Regular.ttf') 
}

html {
    font-family: opensans;
}


body {
    background-color:  var(----text-color);
    padding: 20px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: auto;
    width: auto;
}

#favorites-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
}

.favorites-item {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(----text-color);
}

.favorites-item img {
    width: 75px;
    height: 75px;
}

.favorites-item span {
    white-space: nowrap; 
    max-width: 260px; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
}

#search-bar-container {
    display: flex;
    justify-content: center;
}

input {
    width: 90%;
    height: 15px;
    border-radius: 25px;
    border: none;
    background-color: var(--search-bar-bg-color);
    padding: 12px 20px 12px 40px;
    background-image: url('images/icons8-search-21.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}